<div class="row justify-content-md-start">
  <div class="col-md-12 order-md-1">
    <br>
    <h2 class="mb-3" id="texto-centro">Perfil</h2>
    <div class="col-12" id="texto-centro">
      <p>
        Preencha as informações abaixo para que sua identificação seja mais fácil!
      </p>
    </div>
    <hr class="mb-4">
    <form>
      <div class="row justify-content-center">

        <div class="col-8">
          <div class="col-12">
            <label>Nome:</label>
            <input type="text" class="form-control" name="perfilNome" [(ngModel)]="perfil.nome">
          </div>
          <div class="col-12">
            <label>Sobrenome:</label>
            <input type="text" class="form-control" name="perfilSobrenome" [(ngModel)]="perfil.sobrenome">
          </div>
          <div class="col-12">
            <label>Data de Nascimento:</label>
            <input type="date" class="form-control" name="perfilDataNascimento" [(ngModel)]="perfil.dataNascimento">
          </div>
          <div class="col-12">
            <label>Telefone para contato:</label>
            <input type="phone" class="form-control" name="perfilTelefone" [(ngModel)]="perfil.telefone">
          </div>
          <div class="col-12">
            <label>Identificação Universitária:</label>
            <input type="text" class="form-control" name="perfilIdentificacao" [(ngModel)]="perfil.identificacao">
          </div>
          <div class="col-12">
            <label>Formação:</label>
            <input type="text" class="form-control" name="perfilFormacao" [(ngModel)]="perfil.formacao">
          </div>
          <div class="col-12">
            <label>Outra Titulação:</label>
            <input type="text" class="form-control" name="perfilTitulacao" [(ngModel)]="perfil.titulacao">
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#exampleModalCenter">Salvar</button><br>
          
        </div>

        <div class="col-4" *ngFor="let perfil of perfils | async">

          <div class="card border-dark mb-3" style="max-width: 100%">
            <div class="card-header">Dados pessoais:</div>
            <div class="card-body text-dark">
              <p class="card-text"><strong>Nome:</strong> {{ perfil.nome }}</p>
              <p class="card-text"><strong>Sobrenome:</strong> {{ perfil.sobrenome }}</p>
              <p class="card-text"><strong>Data de nascimento:</strong> {{ perfil.dataNascimento }}</p>
              <p class="card-text"><strong>Telefone:</strong> {{ perfil.telefone }}</p>
              <p class="card-text"><strong>Identificação Universitária:</strong> {{ perfil.identificacao }}</p>
              <p class="card-text"><strong>Formação:</strong> {{ perfil.formacao }}</p>
              <p class="card-text"><strong>Outra titulação:</strong> {{ perfil.titulacao }}</p>
            </div>
          </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Atualizar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Tem certeza que deseja atualizar seus dados?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" (click)="salvar()">Sim, atualizar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>