#texto{
    position: relative;
    text-align: right;
}

td{
    background-color: rgb(255, 255, 255);
}

#texto-centro{
    text-align: center;
    position: relative;
}

#p1{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    text-decoration: none;
    margin: 0%;
}

.td-verde{
    background-color: rgb(0, 194, 0);
}

.td-vermelho{
    background-color: rgb(248, 15, 15);
}

.td-amarelo{
    background-color: rgb(255, 172, 17);
}

.td-edicao{
    background-color: rgb(6, 189, 196);
}

.border-white{
    border-color: aliceblue;
}

#borda{
    height: 100px;
    border-left: 5px solid black;
    p{
        text-align: center;
    }
}

.negrito {
    font-weight: bold;
}

.centro{
    align-items: center!important;
    text-align: center!important;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

.medio {
    width: 100%;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
  font-family: ubuntu;
  
}

h2{
    font-family: Ubuntu;
}

#customers tr:nth-child(even){background-color: rgb(255, 250, 250);}