<div class="row justify-content-md-start">
  <div class="col-md-12 order-md-1">
    <br>
    <h2 class="mb-3" id="texto-centro">Perfil</h2>
    <div class="col-12" id="texto-centro">
      <p>
        Manter seus dados atualizados é extremamente importante!
      </p>
    </div>
    <hr class="mb-4">
    <form>
      <div class="row justify-content-center">

        <div class="col-md-5" *ngFor="let perfil of perfils | async">

          <div class="card border-dark mb-3" style="max-width: 100%">
            <div class="card-header mb-0"><h5><strong>Dados pessoais: </strong></h5></div>
            <div class="card-body text-dark">
              <p class="card-text"><strong>Nome:</strong> {{perfil.nome}}</p>
              <p class="card-text"><strong>Data de nascimento:</strong> {{ perfil.dataNascimento | mask: '00/00/0000' }}</p>
              <p class="card-text"><strong>Celular:</strong> {{ perfil.telefone | mask: '(00) 00000-0000' }}</p>
              <p class="card-text"><strong>Email:</strong> {{perfil.email}} </p>
              <p class="card-text"><strong>Identificação Universitária:</strong> {{ perfil.identificacao }}</p>
              <p class="card-text"><strong>Formação:</strong> {{ perfil.formacao }}</p>
              <p class="card-text"><strong>Cargo:</strong> {{ perfil.cargo }}</p>
              <p class="card-text"><strong>Outra titulação:</strong> {{ perfil.titulacao }}</p>
            </div>
          </div>

        </div>

        <div class="col-md-7" *ngFor="let perfil of perfils | async">
          <h6><strong>Preencha os campos abaixo para manter seus dados atualizados:</strong></h6>
          <hr mb-1>
          <div class="form-group row">
            <label for="perfilNome" class="col-md-3 col-form-label">Nome completo:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="perfilNome" [(ngModel)]="perfil.nome">
            </div>
          </div>
          <div class="form-group row">
            <label for="identificacao" class="col-sm-3 col-form-label">Identificação:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="identificacao" [(ngModel)]="perfil.identificacao">
            </div>
          </div>
          <div class="form-group row">
            <label for="dataNascimento" class="col-sm-4 col-form-label">Data de nascimento:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="dataNascimento" mask="00/00/0000" [(ngModel)]="perfil.dataNascimento">
            </div>
          </div>
          <div class="form-group row">
            <label for="celular" class="col-sm-3 col-form-label">Celular:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="celular" mask="(00) 00000-0000" [(ngModel)]="perfil.telefone">
            </div>
          </div>
          <div class="form-group row">
            <label for="cargo" class="col-sm-3 col-form-label">Cargo:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="cargo" [(ngModel)]="perfil.cargo" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="formacao" class="col-sm-3 col-form-label">Formação:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="formacao" [(ngModel)]="perfil.formacao">
            </div>
          </div>

          <div class="form-group row">
            <label for="titulacao" class="col-sm-3 col-form-label">Outra titulação:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="titulacao" [(ngModel)]="perfil.titulacao">
            </div>
          </div>

          <hr class="col-mb-2">

          <div class="row justify-content-md-center">

            <div class="col-md-3">
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-lg btn-block" type="button" (click)="update(perfil)" >Atualizar
                Dados</button><br>
            </div>
            <div class="col-md-3">
            </div>

          </div>

        </div>

        <hr>

        <div class="col-md-12">

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Atualizar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Tem certeza que deseja atualizar seus dados?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" (click)="salvar()">Sim, atualizar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
