#texto-centro{
    text-align: center;
    position: relative;
    font-family: Ubuntu;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
  font-family: ubuntu;
  
}

td{
  background-color: rgb(255, 255, 255);
}

.centro{
  align-items: center!important;
  text-align: center!important;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

.td-verde{
  background-color: rgb(1, 156, 1);
}

.td-vermelho{
  background-color: rgb(206, 7, 7);
}

.td-amarelo{
  background-color: rgb(255, 172, 17);
}