.borda {
  border-radius: 5px;
  border: 1px groove #636363;

}

body{
  font-size: 10%;
}

.centro {
  text-align: center;
}

.alinhar {
  align-items: center;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
  font-family: ubuntu;

}

.bg{
background-color: #e6e6e6;
}

.direita-aprovado {
  text-align: right;
  color: rgb(1, 156, 1);
}

.direita-analise {
  text-align: right;
  color: rgb(255, 172, 17);
}

.direita-indeferido {
  text-align: right;
  color: rgb(206, 7, 7);
}

.botao:hover{
  color: #212529;
  background-color: #2cbc59;
  border-color: #212529;
}

.fim{
  text-align: end;
  align-items: flex-end;
}

.hr-edit{
  border-width: 2px;
  border-color: #3c443f;
}