<div class="container mt-4" *ngFor="let perfil of perfils | async">

  <div class="col-md-12 fim">
    <strong>Baixar Arquivo: </strong>
    <a><button type="button" class="btn btn-dark my-2 my-sm-0" [innerHTML]="'download' | feather:24:'#2cbc59'" value="CPTURE"
        (click)="captureScreen()" title="Baixar PDF"></button></a>
    <hr class="hr-edit mb-2">
  </div>

  <div class="col-md-12 mb-3" id="contentToConvert">
    <div class="media border p-3">
      <div class="media-body">
        <div class="row">

          <div class="col-md-9 mb-0 mt-2">
            <h3><strong>Projeto: </strong>{{ project.nomeAtv }}</h3>
          </div>

          <div class="col-md-3 mb-0 mt-2" *ngIf="project.situacao == 2">
            <h3 class="direita-aprovado"><strong>Aprovado</strong></h3>
          </div>
          <div class="col-md-3 mb-0 mt-2" *ngIf="project.situacao == 1">
            <h3 class="direita-analise"><strong>Em Análise</strong></h3>
          </div>
          <div class="col-md-3 mb-0 mt-2" *ngIf="project.situacao == 3">
            <h3 class="direita-indeferido"><strong>Indeferido</strong></h3>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-7">
            <div class="media">
              <div class="media-body">
                <p><strong>Responsável: </strong>{{ perfil.nome }}</p>
                <p><strong>Data de criação: </strong>{{ project.dataCadastro | date: 'd/M/y, h:mm a' }}</p>
                <p><strong>Nº Documento: </strong>20180026</p>
                <hr class="m-1">
                <p><strong>Coordenador: </strong>{{ project.coordenador }}</p>
                <p><strong>Curso (Vínculo Acadêmico): </strong>{{ project.curso }}</p>
                <p><strong>Campus: </strong>{{project.campus}}</p>
                <p><strong>Local de realização: </strong>{{project.local}}</p>
                <p><strong>Classificação: </strong>{{ project.classificacao }}</p>
                <p><strong>Área temática: </strong>{{ project.areaTematica }}</p>
                <p><strong>Área de atuação: </strong>{{ project.areaAtuacao }}</p>
              </div>
            </div>

          </div>

          <div class="col-md-5">
            <div class="media border p-3">
              <div class="media-body">
                <h5 class="centro"><strong>Dados Técnicos</strong></h5>
                <hr>
                <p><strong>Período de: </strong>{{project.periodoDe | mask: '00/00/0000'}}<strong> até: </strong>{{project.periodoAte
                  | mask: '00/00/0000'}}</p>
                <p><strong>Horário (Início): </strong>{{project.horaInicio | mask: '00:00'}}<strong> (Fim): </strong>{{project.horaFim
                  | mask: '00:00'}}</p>
                <p><strong>Dia (s) da semana: </strong>{{project.diasDaSemana | mask: '00:00'}}</p>
                <p><strong>Carga horária total: </strong>{{project.cargaHoraria}} hora (s)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" [hidden]="project.palestra != 'Sim'">
          <div class="col-md-12">
            <hr class="hr-edit">
            <h5 class="centro"><strong>Dados Palestrais</strong></h5>
            <hr>
          </div>
          <div class="col-md-6">
            <div class="media">
              <div class="media-body">
                <p [hidden]="!project.ministrante"><strong>Ministrante (1): </strong>{{ project.ministrante }}<strong>
                    -
                    CPF: </strong>{{ project.cpf |
                  mask: '000.000.000-00' }}</p>
                <p [hidden]="!project.ministrante"><strong>Docente da Instituição: </strong>{{
                  project.docenteInstituicao
                  }}<strong> - Função: </strong>{{
                  project.funcaoCargo }}</p>
                <p [hidden]="!project.ministrante"><strong>Titulação: </strong>{{ project.titulacao }}</p>
                <hr [hidden]="!project.ministrante">
                <p [hidden]="!project.ministrante2"><strong>Ministrante (2): </strong>{{ project.ministrante2 }}<strong>
                    -
                    CPF: </strong>{{ project.cpf2 |
                  mask: '000.000.000-00' }}</p>
                <p [hidden]="!project.ministrante2"><strong>Docente da Instituição: </strong>{{
                  project.docenteInstituicao2 }}<strong> - Função: </strong>{{
                  project.funcaoCargo2 }}</p>
                <p [hidden]="!project.ministrante2"><strong>Titulação: </strong>{{ project.titulacao2 }}</p>
                <hr [hidden]="!project.ministrante2">
                <p [hidden]="!project.ministrante3"><strong>Ministrante (3): </strong>{{ project.ministrante3 }}<strong>
                    -
                    CPF: </strong>{{ project.cpf3 |
                  mask: '000.000.000-00' }}</p>
                <p [hidden]="!project.ministrante3"><strong>Docente da Instituição: </strong>{{
                  project.docenteInstituicao3 }}<strong> - Função: </strong>{{
                  project.funcaoCargo3 }}</p>
                <p [hidden]="!project.ministrante3"><strong>Titulação: </strong>{{ project.titulacao3 }}</p>
                <hr [hidden]="!project.ministrante3">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="media">
              <div class="media-body">
                <p><strong>Público alvo: </strong>{{ project.publicoAlvo }}</p>
                <p><strong>Número de pessoas atendidas: </strong>{{ project.numPessoasEnvolvidas }}</p>
                <p><strong>Instituições / empresas envolvidas: </strong>{{project.nomeInstituicaoApoio}}</p>
                <p><strong>Parceria / Apoio / Convênio: </strong>{{ project.tipoParceria }}</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="hr-edit">
          </div>
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <p><strong>Objetivos: </strong></p>
                <p>{{ project.objetivos }}</p>
                <hr class="m-1">
                <p><strong>Justificativa: </strong></p>
                <p>{{project.justificativa}}</p>
                <hr class="m-1">
                <p><strong>Metodologia / Procedimentos: </strong></p>
                <p>{{project.metodologiaProcedimento}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="hr-edit">
            <h5 class="centro"><strong>Recursos Humanos</strong></h5>
            <hr>
          </div>
          <div class="col-md-6">
            <p><strong>Docentes envolvidos:</strong></p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.docenteEnvolvido1 }}</p>
            <p><strong>Curso: </strong>{{ project.cursoDocenteEnvolvido1}} <strong> - Função: </strong>{{
              project.funcaoDocenteEnvolvido1 }}</p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.docenteEnvolvido2 }}</p>
            <p><strong>Curso: </strong>{{ project.cursoDocenteEnvolvido2}} <strong> - Função: </strong>{{
              project.funcaoDocenteEnvolvido2 }}</p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.docenteEnvolvido3 }} </p>
            <p><strong>Curso: </strong>{{ project.cursoDocenteEnvolvido3}} <strong> - Função: </strong>{{
              project.funcaoDocenteEnvolvido3 }}</p>
          </div>

          <div class="col-md-6">
            <p><strong>Discentes envolvidos:</strong></p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.discenteEnvolvido1 }} <strong>Nº Matrícula: </strong>{{
              project.matriculaDiscenteEnvolvido1 }}</p>
            <p><strong>Curso: </strong>{{ project.cursoDiscenteEnvolvido1}} <strong>Período: </strong>{{
              project.periodoDiscenteEnvolvido1 }}</p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.discenteEnvolvido2 }} <strong>Nº Matrícula: </strong>{{
              project.matriculaDiscenteEnvolvido2 }}</p>
            <p><strong>Curso: </strong>{{ project.cursoDiscenteEnvolvido2}} <strong>Período: </strong>{{
              project.periodoDiscenteEnvolvido2 }}</p>
            <hr class="m-0">
            <p><strong>Nome: </strong>{{ project.discenteEnvolvido3 }} <strong>Nº Matrícula: </strong>{{
              project.matriculaDiscenteEnvolvido3 }}</p>
            <p><strong>Curso: </strong>{{ project.cursoDiscenteEnvolvido3}} <strong>Período: </strong>{{
              project.periodoDiscenteEnvolvido3 }}</p>
          </div>

          <div class="col-md-12">
            <hr class="m-1">
            <h6><strong>Cronograma: </strong>{{project.cronograma}}</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-0">
            <hr class="hr-edit">
          </div>
          <div class="col-md-6">
            <div class="media">
              <div class="media-body">
                <h5 class="centro"><strong>Previsão da Receita</strong></h5>
                <hr class="m-0">
                <p><strong>Inscrições: </strong>{{ project.receitaIncricao }}<strong> - Início: </strong>{{
                  project.receitaInicio | mask:'00/00/0000' }}<strong> - Término: </strong>{{ project.receitaTermino |
                  mask:'00/00/0000' }}</p>
                <p><strong>Nº mínimo de inscrições: </strong>{{ project.receitaNumMinInsc }}<strong> - Total: </strong>R$
                  {{ project.receitaNumMinInscTotal }}</p>
                <p><strong>Nº máximo de inscrições: </strong>{{ project.receitaNumMaxInsc }}<strong> - Total: </strong>R$
                  {{ project.receitaNumMaxInscTotal }}</p>
                <p><strong>Valor (Docentes e Discentes Univás): </strong>{{ project.valorDiscenteDoscente }}</p>
                <p><strong>Total de receita:</strong></p>
                <p>Nº mínimo de inscrições: {{ project.receitaNumMinInscTotal }}</p>
                <p>Nº máximo de inscrições: {{ project.receitaNumMaxInscTotal }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="media">
              <div class="media-body">
                <h5 class="centro"><strong>Recursos</strong></h5>
                <hr class="m-0">
                <h6 [hidden]="project.especificacaoRecursos1">Não há recursos declarados.</h6>
                <p [hidden]="!project.especificacaoRecursos1"><strong>Especificações:</strong></p>
                <hr class="m-0" [hidden]="!project.especificacaoRecursos1">
                <p [hidden]="!project.especificacaoRecursos1"><strong>1) </strong>{{ project.especificacaoRecursos1 }}<strong>
                    - Quantidade: </strong>
                  {{project.quantidadeRecursos1}}</p>
                <p [hidden]="!project.especificacaoRecursos1"><strong>Valor Unitário: </strong>{{project.valorUnitarioRecursos1}}<strong>
                    - Total: </strong>{{
                  project.totalRecursos1 }}</p>
                <hr class="m-0" [hidden]="!project.especificacaoRecursos2">
                <p [hidden]="!project.especificacaoRecursos2"><strong>2) </strong>{{ project.especificacaoRecursos2 }}<strong>
                    - Quantidade: </strong>
                  {{project.quantidadeRecursos2}}</p>
                <p [hidden]="!project.especificacaoRecursos2"><strong>Valor Unitário: </strong>{{project.valorUnitarioRecursos2}}<strong>
                    - Total: </strong>{{
                  project.totalRecursos2 }}</p>
                <hr class="m-0" [hidden]="!project.especificacaoRecursos3">
                <p [hidden]="!project.especificacaoRecursos3"><strong>3) </strong>{{ project.especificacaoRecursos3 }}<strong>
                    - Quantidade: </strong>
                  {{project.quantidadeRecursos3}}</p>
                <p [hidden]="!project.especificacaoRecursos3"><strong>Valor Unitário: </strong>{{project.valorUnitarioRecursos3}}<strong>
                    - Total: </strong>{{
                  project.totalRecursos3 }}</p>
                <hr class="m-0" [hidden]="!project.especificacaoRecursos4">
                <p [hidden]="!project.especificacaoRecursos4"><strong>4) </strong>{{ project.especificacaoRecursos4 }}<strong>
                    - Quantidade: </strong>
                  {{project.quantidadeRecursos4}}</p>
                <p [hidden]="!project.especificacaoRecursos4"><strong>Valor Unitário: </strong>{{project.valorUnitarioRecursos4}}<strong>
                    - Total: </strong>{{
                  project.totalRecursos4 }}</p>
                <hr class="m-1" [hidden]="!project.totalDespesas">
                <p [hidden]="!project.totalDespesas"><strong>Total de despesas: </strong>{{ project.totalDespesas }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <a class="nav-link" routerLink="/home/todos-projetos">
          <span [innerHTML]="'arrow-left' | feather:35:'#212529'"></span>
          <strong>Voltar</strong>
        </a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="media">
        <div class="media-body">
          <h4 class="centro"><strong>Dados de Atualização</strong></h4>
          <hr>
          <h6 *ngIf=(project.atualizacaoAprovado)><strong>Aprovado em: </strong>{{ project.atualizacaoAprovado |
            date:
            'd/M/y, H:mm' }}</h6>
          <h6 *ngIf=(project.atualizacaoIndeferido)><strong>Indeferido em: </strong>{{ project.atualizacaoIndeferido
            |
            date: 'd/M/y, H:mm'}}</h6>
          <h6 *ngIf=(project.atualizacaoEditado)><strong>Editado em: </strong>{{ project.atualizacaoEditado | date:
            'd/M/y, H:mm'}}</h6>
          <h6 *ngIf=(project.atualizacaoCancelado)><strong>Cancelado em: </strong>{{ project.atualizacaoCancelado |
            date: 'd/M/y, H:mm'}}</h6>
        </div>
      </div>
    </div>
  </div>

  <hr>
</div>
