a:link,
a:visited {
  color: aliceblue;
  text-decoration: none;
  font-family: ubuntu;
  
}

#bv{
  color: aliceblue;
  text-decoration: none;
  font-family: ubuntu;
  margin-bottom: 0;
  margin-right: 5;
}

.sidebar:hover{
  color: #212529;
  background-color: #2cbc59;
  border-color: #212529;
}

.botao:hover{
  color: #212529;
  background-color: #2cbc59;
  border-color: #212529;
  }

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgb(94, 92, 92);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  margin: 0%;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
  display: block;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.nav-link:hover{
  color: #212529;
  background-color: #2cbc59;
  border-color: #212529;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
}


#sairId {
  color: #fff;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.direita {
  align-items: center;
}

.centralizar{
  text-align: center;
  margin-top: 0%;
}
.alinhar{
  align-items: center;
  text-align: center;
}
