<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#2cbc59" type="ball-spin-fade"></ngx-spinner>

<header *ngFor="let perfil of perfils | async">
  <ng2-slim-loading-bar color="green"></ng2-slim-loading-bar>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a routerLink="/home/info">
      <h5 style="margin:0; color: #e8edff" title="Início" routerLink="/home">Gerência de Projetos</h5>
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="#" title="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" title="#">Início</a>
        </li>
        <li [hidden]="perfil.permissao != 4" class="nav-item">
          <a class="nav-link" routerLink="#" title="#">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" title="#">Sobre o Site</a>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <h6 id="bv" class="mr-2">Bem vindo, {{ perfil.nome }}</h6>
      <a routerLink="/home/perfil" title="Perfil"><span [innerHTML]="'user' | feather:24:'#2cbc59'" class="mr-2"></span></a>
      <a><button type="button" class="btn btn-outline-light my-2 my-sm-0 botao" (click)="logout()" routerLink="">Sair</button></a>
    </form>
    <!-- <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="#">Bem Vindo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [innerHTML]="'user' | feather:24:'#007FFF'" routerLink="/home/perfil" title="Perfil"
          data-toggle="tooltip"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [innerHTML]="'log-out' | feather:24:'#007FFF'"></a>
      </li>
    </ul> -->
  </nav>
</header>


<div class="container-fluid" *ngFor="let perfil of perfils | async">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item centralizar" style="margin-top:10%">
            <h4><strong>Início</strong></h4>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/novo-projeto-aux">
              <span [innerHTML]="'file-plus' | feather:24:'#212529'"></span>
              Cadastrar projeto
            </a>
          </li>
          <li [hidden]="perfil.permissao == 4" class="nav-item">
            <a class="nav-link" routerLink="/home/projeto-editando">
              <span [innerHTML]="'edit' | feather:24:'#212529'"></span>
              Projetos em edição
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="#">
              <span [innerHTML]="'bar-chart-2' | feather:24:'#212529'"></span>
              Relatórios
            </a>
          </li> -->
        </ul>

        <div class="col-12">
          <hr>
        </div>

        <label class="inactive" style="margin-left:8%">
          <span [innerHTML]="'folder' | feather:24:'#212529'"></span>
          Seus projetos<span class="sr-only">(current)</span>
        </label>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/todos-projetos">
              <span [innerHTML]="'file-text' | feather:24:'#212529'"></span>
              Todos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/todos-aceitos">
              <span [innerHTML]="'check' | feather:24:'#212529'"></span>
              Aceitos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/todos-analise">
              <span [innerHTML]="'refresh-cw' | feather:24:'#212529'"></span>
              Em análise
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/todos-reprovados">
              <span [innerHTML]="'x-square' | feather:24:'#212529'"></span>
              Indeferidos
            </a>
          </li>

        </ul>

        <div class="col-12">
          <hr>
        </div>

        <ul class="nav flex-column mb-2">

          <li class="nav-item">
            <a class="nav-link" routerLink="/home/perfil">
              <span [innerHTML]="'user' | feather:24:'#212529'" routerLink="/home/perfil"></span>
              Dados Pessoais
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/manual-do-usuario">
              <span [innerHTML]="'book-open' | feather:24:'#212529'" routerLink="/home/perfil"></span>
              Manual do Usuário
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/home/projeto-detalhe">
              <span [innerHTML]="'settings' | feather:24:'#212529'"></span>
              Configurações
            </a>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>

    </main>

  </div>
</div>

<!-- <div class="col-12"><br> </div>
      <div class="col-12"><br> </div>
      <div class="col-12"><br> </div>
      <h1 class="cover-heading">Gerencie seus projetos.</h1>
      <p class="lead">O Gerenciamento de projetos te ajuda a controlar melhor suas atividades já existentes, novas e encerradas,
        além de facilitar na hora de requerir por um novo projeto</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Saiba mais</a>
      </p> -->
<!-- 
      <footer class="page-footer font-small cyan darken-3">
        
          <div class="footer-copyright text-center py-3 mt-5 mb-0 text-muted alinhar">
            
            © 2018 Copyright:
  
          </div>
        
  
        </footer> -->

<!-- <a class="nav-link">
                          <span [innerHTML]="'twitter' | feather:24:'#818181'" title="Twitter"></span>
                        </a>
                        <a class="nav-link">
                          <span [innerHTML]="'facebook' | feather:24:'#818181'" title="Facebook"></span>
                        </a>
                        <a class="nav-link">
                          <span [innerHTML]="'instagram' | feather:24:'#818181'" title="Instagram"></span>
                        </a> -->
