<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 order-md-1">
      <h2 class="mb-3" id="texto-centro">Formulário de atividade de Extensão</h2>
      <hr class="mb-2">
    </div>
  </div>
  <div class="col-md-12" id="texto-centro">
    <h6><strong>Missão da Univás</strong></h6>
    <p><i>Promover a interação transformadora entre a
        instituição e a sociedade, integrando as artes e a ciência ao ensino, à pesquisa e ao desenvolvimento
        social.</i>
    </p>
    <hr class="mb-2">
  </div>

  <div class="row">

    <div class="col-md-5 order-md-2 mb-2">

      <div class="form-group col-md-12 mb-2">
        <label for="horario">Horário (Início):</label>
        <input type="time" class="form-control" name="horarioInicio" [(ngModel)]="novoProjeto.horaInicio" required>
        <div class="invalid-feedback">
          Campo obrigatório.
        </div>
      </div>

      <div class="form-group col-md-12 mb-2">
        <label for="horario">Horário (Fim):</label>
        <input type="time" class="form-control" name="horarioFim" [(ngModel)]="novoProjeto.horaFim" required>
        <div class="invalid-feedback">
          Campo obrigatório.
        </div>
      </div>

      <div class="form-group col-md-12 mb-2">
        <label for="periodoDe">Período de:</label>
        <input type="date" class="form-control" name="periodoDe" [(ngModel)]="novoProjeto.preriodoDe" required>
        <div class="invalid-feedback">
          Campo obrigatório.
        </div>
      </div>

      <div class="form-group col-md-12 mb-2">
        <label for="periodoAte">Até:</label>
        <input type="date" class="form-control" name="periodoAte" [(ngModel)]="novoProjeto.periodoAte" required>
        <div class="invalid-feedback">
          Campo obrigatório.
        </div>
      </div>

      <div class="form-group col-md-12 mb-2 align-self-center">
        <label for="classficacao"><strong>Classificação: </strong></label>
        <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao1" id="inlineCheckbox1" value="projeto"
            [(ngModel)]="novoProjeto.classificacao1">
          <label class="form-check-label" for="classificacao">Projeto</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao2" id="inlineCheckbox2" value="curso"
            [(ngModel)]="novoProjeto.classificacao2">
          <label class="form-check-label" for="classificacao">Curso</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao3" id="inlineCheckbox3" value="encontro"
            [(ngModel)]="novoProjeto.classificacao3">
          <label class="form-check-label" for="classificacao">Encontro</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao4" id="inlineCheckbox4" value="jornada"
            [(ngModel)]="novoProjeto.classificacao4">
          <label class="form-check-label" for="classificacao">Jornada</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao5" id="inlineCheckbox5" value="exposição"
            [(ngModel)]="novoProjeto.classificacao5">
          <label class="form-check-label" for="classificacao">Exposição</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao6" id="inlineCheckbox6" value="oficina"
            [(ngModel)]="novoProjeto.classificacao6">
          <label class="form-check-label" for="classificacao">Oficina</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao7" id="inlineCheckbox7" value="seminario"
            [(ngModel)]="novoProjeto.classificacao7">
          <label class="form-check-label" for="classificacao">Seminário</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao8" id="inlineCheckbox8" value="palestra"
            [(ngModel)]="novoProjeto.classificacao8">
          <label class="form-check-label" for="classificacao">Palestra</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao9" id="inlineCheckbox9" value="simpósio"
            [(ngModel)]="novoProjeto.classificacao9">
          <label class="form-check-label" for="classificacao">Simpósio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao10" id="inlineCheckbox10" value="workshop"
            [(ngModel)]="novoProjeto.classificacao10">
          <label class="form-check-label" for="classificacao">Workshop</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao11" id="inlineCheckbox11" value="publicação"
            [(ngModel)]="novoProjeto.classificacao11">
          <label class="form-check-label" for="classificacao">Publicação</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao12" id="inlineCheckbox12" value="concurso"
            [(ngModel)]="novoProjeto.classificacao12">
          <label class="form-check-label" for="classificacao">Concurso</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="classificacao13" id="inlineCheckbox13" value="viagem"
            [(ngModel)]="novoProjeto.classificacao13">
          <label class="form-check-label" for="classificacao">Viagem</label>
        </div>
      </div>

      <div class="form-group col-md-12 mb-2 align-self-center">
        <label for="areaTematica"><strong>Área temática: </strong></label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica1" value="comunicação" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Projeto</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica2" value="Cultura" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Curso</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica3" value="Direitos Humanos" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Encontro</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica4" value="Educação" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Jornada</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica5" value="Meio Ambiente" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Exposição</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica6" value="Saúde" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Oficina</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica7" value="Tecnologia" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Seminário</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="areaTematica8" value="Trabalho" [(ngModel)]="novoProjeto.areaTematica">
          <label class="form-check-label" for="areaTematica">Palestra</label>
        </div>
      </div>
    </div>


    <div class="col-md-7 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label><strong>Nome da atividade:</strong></label>
            <input type="text" class="form-control" name="nomeAtv" [(ngModel)]="novoProjeto.nomeAtv" required>
            <span class="error" *ngIf="showMessageError">Campo obrigatórios</span>
          </div>
          <div class="col-md-6 mb-2">
            <label><strong>Curso (Vínculo Acadêmico):</strong></label>
            <input type="text" class="form-control" name="curso" placeholder="Ex: Administração" [(ngModel)]="novoProjeto.curso"
              required>
            <div class="invalid-feedback">
              Campo obrigatório.
            </div>
          </div>
        </div>

        <div class="mb-2">
          <label for="coordenador"><strong>Coordenador:</strong></label>
          <input type="text" class="form-control" name="coordenador" [(ngModel)]="novoProjeto.coordenador" required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>

        <div class="mb-2">
          <label for="responsavel"><strong>Responsável pelo projeto:</strong></label>
          <input type="text" class="form-control" name="responsavel" [(ngModel)]="novoProjeto.responsavel" required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>

        <div class="mb-2">
          <label for="responsavel"><strong>Local de Realização:</strong></label>
          <input type="text" class="form-control" name="local" [(ngModel)]="novoProjeto.local" required>
          <div class="invalid-feedback">
            Campo obrigatório.
          </div>
        </div>

        <div class="mb-2">
          <label><strong>Campus: </strong></label>
          <select class="form-control" name="campus" [(ngModel)]="novoProjeto.campus">
            <option>Fátima</option>
            <option>Central</option>
          </select>
        </div>

        <div class="mb-2">
          <label><strong>Área de atuação: </strong></label>
          <select class="form-control" name="areaAtuacao" [(ngModel)]="novoProjeto.areaAtuacao">
            <option>Ciências Biológicas</option>
            <option>Ciências da Saúde</option>
            <option>Ciências Empresariais</option>
            <option>Ciências Exatas</option>
            <option>Comunicação</option>
            <option>Educação</option>
          </select>
        </div>

      </form>
    </div>

  </div>





</div>




<!--

  <form action="">

    

    <hr>

    <div class="row">
      
      <div class="col-md-2">

        <div class="col-mb-12">
          


        </div>

      </div>
    </div>

  </form>







<div class="row">




  <div class="col-mb-4 col-form-label">

  </div>

  <div class="col-3">

  </div>

</div>

<div class="row">
  <div class="col-1 align-self-center col-form-label negrito">
    <label for="periodoDe">Período</label>
  </div>
  <div class="col-1 col-form-label" id="texto">
    <label for="">De:</label>
  </div>
  <div class="col-4">
    <input type="date" class="form-control" name="periodoDe" [(ngModel)]="novoProjeto.preriodoDe" required>
    <div class="invalid-feedback">
      Campo obrigatório.
    </div>
  </div>
  <div class="col-2 align-self-center col-form-label" id="texto">
    <label for="periodoAte">Até:</label>
  </div>
  <div class="col-4">
    <input type="date" class="form-control" name="periodoAte" [(ngModel)]="novoProjeto.periodoAte" required>
    <div class="invalid-feedback">
      Campo obrigatório.
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-2 align-self-center col-form-label">
    <label>Horário (Início):</label>
  </div>
  <div class="col-2">
    <input type="time" class="form-control" name="horarioInicio" [(ngModel)]="novoProjeto.horaInicio" required>
    <div class="invalid-feedback">
      Campo obrigatório.
    </div>
  </div>
  <div class="col-2 align-self-center col-form-label">
    <label for="firstName">Horário (Fim):</label>
  </div>
  <div class="col-2">
    
  </div>
  <div class="col-2 align-self-center col-form-label" id="texto-centro">
    <label for="">Carga Horária:</label>
  </div>
  <div class="col-2">
    <input class="form-control" type="number" placeholder="Horas" name="cargaHoraria" [(ngModel)]="novoProjeto.cargaHoraria">
  </div>
</div>

<br>
<div class="row">

  <div class="col-2">
    <p>Dias da semana:</p>
  </div>

  <div class="col-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Domingo" name="diaDomingo"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Domingo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Segunda-feira" name="diaSegunda"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Segunda-feira</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Terça-feira" name="diaTerca"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Terça-feira</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Quarta-feira" name="diaQuarta"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Quarta-feira</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Quinta-feira" name="diaQuinta"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Quinta-feira</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sexta-feira" name="diaSexta"
        [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Sexta-feira</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sábado" name="diaSabado" [(ngModel)]="novoProjeto.diasDaSemana">
      <label class="form-check-label" for="inlineCheckbox1">Sábado</label>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-2 col-form-label">
    <label>Ministrante (s):</label>
  </div>
  <div class="col-5">
    <input class="form-control" type="text" name="ministrante" [(ngModel)]="novoProjeto.ministrante">
  </div>
  <div class="col-1 col-form-label" id="texto-centro">
    <label for="name">CPF:</label>
  </div>
  <div class="col-4">
    <input class="form-control" type="number" placeholder="Ex: 123.456.789-000" name="cpf" [(ngModel)]="novoProjeto.cpf">
  </div>
</div>

<br>
<div class="row">
  <div class="col-2">
    <label for="docenteInstituicao">Docente da instituição:</label>
  </div>
  <div class="col-1" id="texto-centro">
    <input class="form-check-input" type="radio" name="docenteSim" value="sim" [(ngModel)]="novoProjeto.docenteInstituicao">
    <label class="form-check-label" for="">Sim</label>
  </div>
  <div class="col-1" id="texto-centro">
    <input class="form-check-input" type="radio" name="docenteNao" value="não" [(ngModel)]="novoProjeto.docenteInstituicao">
    <label class="form-check-label" for="">Não</label>
  </div>
  <div class="col-2" id="texto">
    <label for="name">Função/Cargo:</label>
  </div>
  <div class="col-6">
    <input class="form-control" type="text" placeholder="Ex: Professor, Coordenador..." name="funcaoCargo" [(ngModel)]="novoProjeto.funcaoCargo">
  </div>
</div>

<br>
<div class="row">
  <div class="col-1 col-form-label">
    <label for="titulacao">Titulação:</label>
  </div>
  <div class="col-1 col-form-label" id="texto-centro">
    <input class="form-check-input" type="radio" name="titulacaoG" value="G" [(ngModel)]="novoProjeto.titulacao">
    <label class="form-check-label" for="">G</label>
  </div>
  <div class="col-1 col-form-label" id="texto-centro">
    <input class="form-check-input" type="radio" name="titulacaoE" value="E" [(ngModel)]="novoProjeto.titulacao">
    <label class="form-check-label" for="">E</label>
  </div>
  <div class="col-1 col-form-label" id="texto-centro">
    <input class="form-check-input" type="radio" name="titulacaoM" value="M" [(ngModel)]="novoProjeto.titulacao">
    <label class="form-check-label" for="">M</label>
  </div>
  <div class="col-1 col-form-label" id="texto-centro">
    <input class="form-check-input" type="radio" name="titulacaoDR" value="DR" [(ngModel)]="novoProjeto.titulacao">
    <label class="form-check-label" for="">DR</label>
  </div>
  <div class="col-3 col-form-label">
    <label for="publicoAlvo">Público alvo: Funcionários da Univás</label>
  </div>
  <div class="col-3 col-form-label">
    <label for="publicoAlvo">Nº de pessoas que serão atendidas:</label>
  </div>
  <div class="col-1">
    <input class="form-control" type="number" placeholder="" name="numeroPessoas" [(ngModel)]="novoProjeto.numPessoasEnvolvidas">
  </div>
</div>

<hr class="mb-4">

<div class="row">
  <div class="col-1 col-form-label">
    <label for="titulacao">Tipo:</label>
  </div>
  <div class="col-1 col-form-label">
    <input class="form-check-input" type="radio" name="parceria" value="Parceria" [(ngModel)]="novoProjeto.parceria">
    <label class="form-check-label" for="">Parceria</label>
  </div>
  <div class="col-1 col-form-label">
    <input class="form-check-input" type="radio" name="apoio" value="Apoio" [(ngModel)]="novoProjeto.parceria">
    <label class="form-check-label" for="">Apoio</label>
  </div>
  <div class="col-1 col-form-label">
    <input class="form-check-input" type="radio" name="convenio" value="Convenio" [(ngModel)]="novoProjeto.parceria">
    <label class="form-check-label" for="">Convênio</label>
  </div>
  <div class="col-3 col-form-label">
    <label for="parceria">Nome da(s) instituição(s) ou empresa(s):</label>
  </div>
  <div class="col-5">
    <input type="text" class="form-control" name="nomeApoio" [(ngModel)]="novoProjeto.nomeInstituicaoApoio" required>
  </div>
</div>

<hr class="mb-4">

<div class="row">
  <div class="col-1 negrito" id="texto-centro">
    <label>Objetivos:</label>
  </div>
  <div class="col-11" id="texto-centro">
    <p>Proporcionar aos funcionários da Univás acesso a uma atividade que trabalha o desenvolvimento: motor,
      físico e cognitivo.</p>
  </div>
  <div class="col-12" id="texto-centro">
    <p>Discriminar os objetivos gerais e específicos em termos de contribuição esperada para o desenvolvimento
      da
      comunidade,
      bem como retornos esperados ao aluno, ao ensino e à pesquisa; Assegurar a coerência entre as instruções e
      a
      justificativa do projeto.</p>
  </div>
</div>

<hr class="mb-4">

<div class="row">
  <div class="col-1 col-form-label" id="texto-centro">
    <label>Justificativa:</label>
  </div>
  <div class="col-11" id="texto-centro">
    <input class="form-control" type="text" name="justificativa" [(ngModel)]="novoProjeto.justificativa">
  </div>
  <div class="col-12" id="texto-centro">
    <p>Explicitar as razões da realização do projeto; Situação – problema que originou a proposição do projeto;
      Delimitação da proposta básica de trabalho e possibilidade de operar mudanças frente à problemática
      descrita da comunidade; outros dados que julgar relevantes (ex. caracterização da comunidade,
      experiências
      anteriores, ou vínculo com a pesquisa, etc.)</p>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="">Metodologia / Procedimentos:</label>
      <input type="text" class="form-control" placeholder="Descrever detalhadamente as atividades a serem desenvolvidas"
        name="metodologiasProcedimentos" [(ngModel)]="novoProjeto.metodologiaProcedimento">
    </div>
  </div>
</div>

<hr class="mb-4">

<div class="row">
  <div class="col-12" id="texto-centro">
    <h5>Recursos Humanos</h5>
  </div>

  <div class="col-4">
    <div class="form-group">
      <label for="">Docente (s) envolvido (s):</label>
      <input type="text" class="form-control" placeholder="(Nome completo sem abreviatura)" name="docenteEnvolvido1"
        [(ngModel)]="novoProjeto.docenteEnvolvido1">
      <br>
      <input type="text" class="form-control" placeholder="(Nome completo sem abreviatura)" name="docenteEnvolvido2"
        [(ngModel)]="novoProjeto.docenteEnvolvido2">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="">Curso:</label>
      <input type="text" class="form-control" placeholder="Ex: Administração" name="cursoDocenteEnvolvido1" [(ngModel)]="novoProjeto.cursoDocenteEnvolvido1">
      <br>
      <input type="text" class="form-control" placeholder="Ex: Administração" name="cursoDocenteEnvolvido2" [(ngModel)]="novoProjeto.cursoDocenteEnvolvido2">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="">Função:</label>
      <input type="text" class="form-control" placeholder="Ex: Apoio" name="funcaoDocenteEnvolvido1" [(ngModel)]="novoProjeto.funcaoDocenteEnvolvido1">
      <br>
      <input type="text" class="form-control" placeholder="Ex: Apoio" name="funcaoDocenteEnvolvido2" [(ngModel)]="novoProjeto.funcaoDocenteEnvolvido2">
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <label for="">Discente (s) envolvido (s):</label>
      <input type="text" class="form-control" placeholder="(Nome completo sem abreviatura)" name="discenteEnvolvido1"
        [(ngModel)]="novoProjeto.discenteEnvolvido1">
      <br>
      <input type="text" class="form-control" placeholder="(Nome completo sem abreviatura)" name="discenteEnvolvido2"
        [(ngModel)]="novoProjeto.discenteEnvolvido2">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="">Curso:</label>
      <input type="text" class="form-control" placeholder="Ex: Administração" name="cursoDiscenteEnvolvido1"
        [(ngModel)]="novoProjeto.cursoDiscenteEnvolvido1">
      <br>
      <input type="text" class="form-control" placeholder="Ex: Administração" name="cursoDiscenteEnvolvido2"
        [(ngModel)]="novoProjeto.cursoDiscenteEnvolvido2">
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="inputState">Período:</label>
      <select id="inputState" class="form-control" name="periodoDiscenteEnvolvido1" [(ngModel)]="novoProjeto.periodoDiscenteEnvolvido1">
        <option selected>Escolha...</option>
        <option>Primeiro (1º)</option>
        <option>Segundo (2º)</option>
        <option>Terceiro (3º)</option>
        <option>Quarto (4º)</option>
        <option>Quinto (5º)</option>
        <option>Sexto (6º)</option>
        <option>Sétimo (7º)</option>
        <option>Oitavo (8º)</option>
      </select>
      <br>
      <select id="inputState" class="form-control" name="periodoDiscenteEnvolvido2" [(ngModel)]="novoProjeto.periodoDiscenteEnvolvido2">
        <option selected>Escolha...</option>
        <option>Primeiro (1º)</option>
        <option>Segundo (2º)</option>
        <option>Terceiro (3º)</option>
        <option>Quarto (4º)</option>
        <option>Quinto (5º)</option>
        <option>Sexto (6º)</option>
        <option>Sétimo (7º)</option>
        <option>Oitavo (8º)</option>
      </select>
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label>Nº de Matrícula:</label>
      <input type="text" class="form-control" name="matriculaDiscenteEnvolvido1" [(ngModel)]="novoProjeto.matriculaDiscenteEnvolvido1">
      <br>
      <input type="text" class="form-control" name="matriculaDiscenteEnvolvido2" [(ngModel)]="novoProjeto.matriculaDiscenteEnvolvido2">
    </div>
  </div>

  <div class="col-1">
    <label>Cronograma:</label>
  </div>
  <div class="col-11">
    <textarea class="form-control" rows="2" placeholder="Atividades a serem realizadas durante o projeto" name="cronograma"
      [(ngModel)]="novoProjeto.cronograma"></textarea>
  </div>
</div>

<hr class="mb-4">

<div class="row">
  <div class="col-12" id="texto-centro">
    <h5>Previsão da receita</h5>
    <br>
  </div>

  <div class="col-1 col-form-label">
    <label>Inscrições:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="number" name="inscricoes">
  </div>

  <div class="col-1 col-form-label">
    <label>Início:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="text" name="receitaInicio">
  </div>

  <div class="col-1 col-form-label">
    <label>Término:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="date" name="receitaTermino">
  </div>

  <div class="col-3 col-form-label">
    <label>Número mínimo de inscrições:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="number" name="numMinimoInscricoes">
  </div>
  <div class="col-1 col-form-label">
    <label>Total: R$</label>
  </div>
  <div class="col-5">
    <input class="form-control" type="text" placeholder="R$" name="totalReceita1">
  </div>

  <div class="col-3 col-form-label">
    <label>Número máximo de inscrições:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="number" name="numMaximoInscricoes">
  </div>
  <div class="col-1 col-form-label">
    <label>Total: R$</label>
  </div>
  <div class="col-5">
    <input class="form-control" type="text" placeholder="R$" name="totalReceita2">
  </div>

  <div class="col-3 col-form-label">
    <label>Valor (Docentes e Discentes UNIVAS):</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="text" placeholder="R$" name="valorReceitaDocente">
  </div>

  <div class="col-1 col-form-label">
    <label>Outros:</label>
  </div>
  <div class="col-5">
    <input class="form-control" type="text" placeholder="R$" name="outrosValores">
  </div>

  <div class="col-2 col-form-label">
    <label>TOTAL DA RECEITA:</label>
  </div>
  <div class="col-2 col-form-label">
    <label>Nº mínimo de inscrições:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="text" placeholder="" name="receitaTotalMin">
  </div>
  <div class="col-2 col-form-label">
    <label>Nº máximo de inscrições:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="text" placeholder="" name="receitaTotalMax">
  </div>

  <div class="col-12" id="texto-centro">
    <br>
    <h5>Recursos</h5>
    <br>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label for="">Especificação:</label>
      <input type="text" class="form-control" name="recursosEsecificacao1">
      <br>
      <input type="text" class="form-control" name="recursosEsecificacao2">
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="">Quantidade:</label>
      <input type="number" class="form-control" name="recursosQtd1">
      <br>
      <input type="number" class="form-control" name="recursosQtd2">
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="">Valor unitário:</label>
      <input type="text" class="form-control" placeholder="R$" name="recursosValorUnitario1">
      <br>
      <input type="text" class="form-control" placeholder="R$" name="recursosValorUnitario2">
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="">Total:</label>
      <input type="text" class="form-control" placeholder="R$" name="recursosTotal1">
      <br>
      <input type="text" class="form-control" placeholder="R$" name="recursosTotal2">
    </div>
  </div>

  <div class="col-3"></div>

  <div class="col-3 col-form-label negrito" id="texto-centro">
    <label>Total das despezas:</label>
  </div>
  <div class="col-3">
    <input class="form-control" type="text" placeholder="R$" name="totalDasDespezas">
  </div>

  <div class="col-3"></div>

</div>

<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="button" (click)="save()">Finalizar</button><br>

</form>
</div> -->