hr { 
    display: block;
    border-width: 1px;
} 

#texto{
    position: relative;
    text-align: right;
}

#texto-centro{
    text-align: center;
    position: relative;
}

.hr-edit{
    border-width: 2px;
    border-color: #3c443f;
}

.hr-edit2{
    border-color: #2cbc59;
}

.texto-centro2{
    text-align: center;
    padding: 40px 0;
    margin-right: 10%;
}

.direita{
    text-align: right;
    align-items: flex-end;
}

.item{
    align-items: flex-end;
}

.item-centro{
    align-items: center;
}

#borda{
    height: 100px;
    border-left: 5px solid black;
    p{
        text-align: center;
    }
}

.negrito {
    font-weight: bold;
   }