<ng2-slim-loading-bar color="green"></ng2-slim-loading-bar>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mb-3" id="texto-centro">Formulário de Atividade de Extensão</h1>
      <hr class="mb-4 hr-edit2">
    </div>
  </div>
  <div class="col-md-12" id="texto-centro">
    <h6><strong>Missão da Univás</strong></h6>
    <p class="mb-4"><i>Promover a interação transformadora entre a
        instituição e a sociedade, integrando as artes e a ciência ao ensino, à pesquisa e ao desenvolvimento
        social.</i>
    </p>
  </div>
  <!-- (ngSubmit)="onSubmit()" -->
  <form *ngFor="let perfil of perfils | async" [formGroup]="formulario">
    <hr class="mb-3 hr-edit mt-5">
    <div class="form-row">
      <div class="col-md-12" id="texto-centro">
        <h2>Dados Gerais</h2>
        <hr class="mb-3">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8 mb-2">
        <label><strong>* Nome da atividade:</strong></label>
        <input type="text" class="form-control" formControlName="nomeAtv" [ngClass]="{ 'is-invalid': f.nomeAtv.touched && f.nomeAtv.errors }" />
        <div *ngIf="f.nomeAtv.touched && f.nomeAtv.errors" class="invalid-feedback">
          <div *ngIf="f.nomeAtv.errors.required">Favor inserir o nome da atividade</div>
        </div>
      </div>

      <div class="form-group col-md-4 mb-2">

        <label for="inlineFormCustomSelectPref"><strong>* Curso (Vínculo Acadêmico): </strong></label>
        <select class="custom-select" id="inlineFormCustomSelectPref" formControlName="curso" [ngClass]="{ 'is-invalid': f.curso.touched && f.curso.errors }">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>

        <div *ngIf="f.curso.touched && f.curso.errors" class="invalid-feedback">
          <div *ngIf="f.curso.errors.required">Escolha um curso</div>
        </div>

      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4 mb-2">
        <label for="responsavel"><strong>* Responsável pelo projeto:</strong></label>
        <input type="text" class="form-control" formControlName="responsavel" [ngClass]="{ 'is-invalid': f.responsavel.touched && f.responsavel.errors }">
        <div *ngIf="f.responsavel.touched && f.responsavel.errors" class="invalid-feedback">
          <div *ngIf="f.responsavel.errors.required">Favor inserir o nome completo</div>
        </div>
      </div>

      <div class="form-group col-md-4 mb-2">
        <label for="coordenador"><strong>* Coordenador:</strong></label>
        <input type="text" class="form-control" formControlName="coordenador" [ngClass]="{ 'is-invalid': f.coordenador.touched && f.coordenador.errors }">
        <div *ngIf="f.coordenador.touched && f.coordenador.errors" class="invalid-feedback">
          <div *ngIf="f.coordenador.errors.required">Inserir nome do Coordenador</div>
        </div>
      </div>

      <div class="form-group col-md-4 mb-2">
        <label for="inlineFormCustomSelectPref"><strong>* Campus: </strong></label>
        <select class="custom-select" id="inlineFormCustomSelectPref" formControlName="campus" [ngClass]="{ 'is-invalid': f.campus.touched && f.campus.errors }">
          <option selected value="">Escolha...</option>
          <option value="Fátima">Fátima</option>
          <option value="Central">Central</option>
        </select>
        <div *ngIf="f.campus.touched && f.campus.errors" class="invalid-feedback">
          <div *ngIf="f.campus.errors.required">Escolha um campus</div>
        </div>
      </div>


    </div>


    <div class="form-row">

      <div class="form-group col-md-8">
        <label for="classificacoes"><strong>* Classificação: </strong></label>
        <br>
        <div class="form-check form-check-inline" formArrayName="classificacoes" *ngFor="let item of formulario.get('classificacoes').controls; let i = index">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [formControlName]="i">{{ classificacoes[i] }}
          </label>
        </div>

      </div>

      <div class="form-group col-md-4">
        <label><strong>* Local de Realização:</strong></label>
        <input type="text" class="form-control" formControlName="local" placeholder="Ex: Auditório; Sala de aula..."
          [ngClass]="{ 'is-invalid': f.local.touched && f.local.errors }">
        <div *ngIf="f.local.touched && f.local.errors" class="invalid-feedback">
          <div *ngIf="f.local.errors.required">Escolha um local</div>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-8 mb-2">
        <label for="areaTematica"><strong>* Área temática: </strong></label>
        <br>
        <div class="form-check form-check-inline" formArrayName="areaTematica" *ngFor="let item of formulario.get('areaTematica').controls; let i = index">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [formControlName]="i">{{ areaTematica[i] }}
          </label>
        </div>

      </div>

      <div class="form-group col-md-4">
        <label for="inlineFormCustomSelectPref"><strong>* Área de atuação: </strong></label>
        <select class="custom-select" id="inlineFormCustomSelectPref" formControlName="areaAtuacao" [ngClass]="{ 'is-invalid': f.areaAtuacao.touched && f.areaAtuacao.errors }">
          <option selected value="">Escolha...</option>
          <option value="Ciências Biológicas">Ciências Biológicas</option>
          <option value="Ciências da Saúde">Ciências da Saúde</option>
          <option value="Ciências Empresariais">Ciências Empresariais</option>
          <option value="Ciências Exatas">Ciências Exatas</option>
          <option value="Comunicação">Comunicação</option>
          <option value="Educação">Educação</option>
        </select>
        <div *ngIf="f.areaAtuacao.touched && f.areaAtuacao.errors" class="invalid-feedback">
          <div *ngIf="f.areaAtuacao.errors.required">Escolha uma área</div>
        </div>
      </div>

      <div class="col-md-12 direita">
        <p><i>(*) Campos obrigatórios</i></p>
      </div>

      <div class="col-md-12 mt-0">
        <hr class="hr-edit">
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-12" id="texto-centro">
        <h2>Dados Técnicos</h2>
        <hr class="mb-4">
      </div>

      <div class="form-group col-md-3 mb-2">
        <label for="horaInicio"><strong>* Horário (Início): </strong></label>
        <input type="text" class="form-control" formControlName="horaInicio" mask="00:00" placeholder="hh:mm" [ngClass]="{ 'is-invalid': f.horaInicio.touched && f.horaInicio.errors }">
        <div *ngIf="f.horaInicio.touched && f.horaInicio.errors" class="invalid-feedback">
          <div *ngIf="f.horaInicio.errors.required">Campo obrigatório</div>
        </div>
      </div>

      <div class="form-group col-md-3 mb-2">
        <label for="horaFim"><strong>* Horário (Fim):</strong></label>
        <input type="text" class="form-control" formControlName="horaFim" mask="00:00" placeholder="hh:mm" [ngClass]="{ 'is-invalid': f.horaFim.touched && f.horaFim.errors }">
        <div *ngIf="f.horaFim.touched && f.horaFim.errors" class="invalid-feedback">
          <div *ngIf="f.horaFim.errors.required">Campo obrigatório</div>
        </div>
      </div>

      <div class="form-group col-md-3 mb-2">
        <label for="periodoDe"><strong>* Período de: </strong></label>
        <input type="text" class="form-control" formControlName="periodoDe" mask="00/00/0000" placeholder="dd/mm/aaaa"
          [ngClass]="{ 'is-invalid': f.periodoDe.touched && f.periodoDe.errors }">
        <div *ngIf="f.periodoDe.touched && f.periodoDe.errors" class="invalid-feedback">
          <div *ngIf="f.periodoDe.errors.required">Campo obrigatório</div>
        </div>
      </div>

      <div class="form-group col-md-3 mb-2">
        <label for="periodoAte"><strong>* Até:</strong></label>
        <input type="text" class="form-control" mask="00/00/0000" placeholder="dd/mm/aaaa" formControlName="periodoAte"
          [ngClass]="{ 'is-invalid': f.periodoAte.touched && f.periodoAte.errors }">
        <div *ngIf="f.periodoAte.touched && f.periodoAte.errors" class="invalid-feedback">
          <div *ngIf="f.periodoAte.errors.required">Campo obrigatório</div>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3 mb-2">
        <label for="cargaHoraria"><strong>* Carga horária total:</strong></label>
        <input type="number" class="form-control" formControlName="cargaHoraria" placeholder="Hora(s)" [ngClass]="{ 'is-invalid': f.cargaHoraria.touched && f.cargaHoraria.errors }">
        <div *ngIf="f.cargaHoraria.touched && f.cargaHoraria.errors" class="invalid-feedback">
          <div *ngIf="f.cargaHoraria.errors.required">Campo obrigatório</div>
        </div>
      </div>

      <div class="form-group col-md-3 mb-2">

      </div>

      <div class="form-check col-md-6 mb-2">
        <label><strong>* Dias da semana: </strong></label>
        <br>
        <div class="form-check form-check-inline" formArrayName="diasDaSemana" *ngFor="let item of formulario.get('diasDaSemana').controls; let i = index">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [formControlName]="i">{{ diasDaSemana[i] }}
          </label>
        </div>
      </div>

      <div class="col-md-12 direita">
        <p><i>(*) Campos obrigatórios</i></p>
      </div>

    </div>

    <hr class="hr-edit mt-0">

    <div class="form-row">
      <div class="col-md-8">

        <label><strong>Terá Palestras/Cursos/Workshops no Projeto? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="Sim" formControlName="palestra"
            [(ngModel)]="valueMinistrante1">
          <label class="form-check-label" for="inlineCheckbox1">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="inlineCheckbox2" value="Não" formControlName="palestra"
            [(ngModel)]="valueMinistrante1" checked>
          <label class="form-check-label" for="inlineCheckbox2">Não</label>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="form-row" [hidden]="valueMinistrante1 != 'Sim'">


      <div class="col-md-12" id="texto-centro">
        <hr class="hr-edit">
        <h2>Dados Palestrais</h2>
        <hr class="mb-4">
      </div>

      <div class="form-group col-md-8">
        <label for="ministrante"><strong>Ministrante 1:</strong></label>
        <input class="form-control" type="text" formControlName="ministrante">
      </div>

      <div class="form-group col-md-4">
        <label for="cpf"><strong>CPF:</strong></label>
        <input type="text" class="form-control" formControlName="cpf" mask="000.000.000-00" placeholder="123.456.789-00">
      </div>

      <div class="form-group col-md-3">
        <label><strong>Docente da Instituição? </strong></label><br>
        <div class="form-check form-check-inline">
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="docenteInstituicao" id="radio1" class="custom-control-input" value="Sim"
              checked>
            <label class="custom-control-label" for="radio1">Sim</label>
          </div>
          <div class="custom-control custom-radio ml-2">
            <input type="radio" formControlName="docenteInstituicao" id="radio2" class="custom-control-input" value="Não">
            <label class="custom-control-label" for="radio2">Não</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-5">
        <label for="funcaoCargo"><strong>Função/Cargo: </strong></label>
        <input class="form-control" type="text" formControlName="funcaoCargo">
      </div>

      <div class="form-group col-md-4">
        <label for="titulacao"><strong>Titulação: </strong></label>
        <select class="custom-select" formControlName="titulacao">
          <option selected value="">Escolha...</option>
          <option value="Graduado">Graduado</option>
          <option value="Especializado">Especializado</option>
          <option value="Mestrado">Mestrado</option>
          <option value="Doutorado">Doutorado</option>
          <option value="Pós-Doutorado">Pós-Doutorado</option>
        </select>
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-6">
        <label><strong>Adicionar Segundo Ministrante? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" value="Sim" id="inlineCheck3" formControlName="addMinistrante2"
            [(ngModel)]="valueMinistrante2">
          <label class="form-check-label" for="inlineCheck3">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" value="Não" id="inlineCheck4" formControlName="addMinistrante2"
            [(ngModel)]="valueMinistrante2" checked>
          <label class="form-check-label" for="inlineCheck4">Não</label>
        </div>
      </div>
      <div class="col-md-6"></div>


      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="form-row" [hidden]="valueMinistrante2 != 'Sim'">

        <div class="form-group col-md-8">
          <label for="ministrante2"><strong>Ministrante 2:</strong></label>
          <input class="form-control" type="text" formControlName="ministrante2">
        </div>

        <div class="form-group col-md-4">
          <label for="cpf2"><strong>CPF:</strong></label>
          <input type="text" class="form-control" formControlName="cpf2" mask="000.000.000-00" placeholder="123.456.789-00">
        </div>

        <div class="form-group col-md-3">
          <label><strong>Docente da Instituição? </strong></label><br>
          <div class="form-check form-check-inline">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="docenteInstituicao2" id="radio3" class="custom-control-input" value="Sim"
                checked>
              <label class="custom-control-label" for="radio3">Sim</label>
            </div>
            <div class="custom-control custom-radio ml-2">
              <input type="radio" formControlName="docenteInstituicao2" id="radio4" class="custom-control-input" value="Não">
              <label class="custom-control-label" for="radio4">Não</label>
            </div>
          </div>
        </div>

        <div class="form-group col-md-5">
          <label for="funcaoCargo2"><strong>Função/Cargo: </strong></label>
          <input class="form-control" type="text" formControlName="funcaoCargo2">
        </div>

        <div class="form-group col-md-4">
          <label for="titulacao2"><strong>Titulação: </strong></label>
          <select class="custom-select" formControlName="titulacao2">
            <option selected value="">Escolha...</option>
            <option value="Graduado">Graduado</option>
            <option value="Especializado">Especializado</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
            <option value="Pós-Doutorado">Pós-Doutorado</option>
          </select>
        </div>

        <div class="col-md-12">
          <hr class="hr-edit2">
        </div>

        <div class="col-md-6">
          <label><strong>Adicionar Terceiro Ministrante? </strong></label>
          <div class="form-check form-check-inline ml-5">
            <input class="form-check-input" type="radio" id="inlineCheck1" value="Sim" formControlName="addMinistrante3"
              [(ngModel)]="valueMinistrante3">
            <label class="form-check-label" for="inlineCheck1">Sim</label>
          </div>
          <div class="form-check form-check-inline ml-5">
            <input class="form-check-input" type="radio" id="inlineCheck2" value="Não" formControlName="addMinistrante3"
              [(ngModel)]="valueMinistrante3" checked>
            <label class="form-check-label" for="inlineCheck2">Não</label>
          </div>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-12">
          <hr class="hr-edit2">
        </div>

      </div>

      <div class="form-row" [hidden]="valueMinistrante3 != 'Sim'">

        <div class="form-group col-md-8">
          <label for="ministrante3"><strong>Ministrante 3:</strong></label>
          <input class="form-control" type="text" formControlName="ministrante3">
        </div>

        <div class="form-group col-md-4">
          <label for="cpf3"><strong>CPF:</strong></label>
          <input type="text" class="form-control" formControlName="cpf3" mask="000.000.000-00" placeholder="123.456.789-00">
        </div>

        <div class="form-group col-md-3">
          <label><strong>Docente da Instituição? </strong></label><br>
          <div class="form-check form-check-inline">
            <div class="custom-control custom-radio">
              <input type="radio" formControlName="docenteInstituicao3" id="radio5" class="custom-control-input" value="Sim"
                checked>
              <label class="custom-control-label" for="radio5">Sim</label>
            </div>
            <div class="custom-control custom-radio ml-2">
              <input type="radio" formControlName="docenteInstituicao3" id="radio6" class="custom-control-input" value="Não">
              <label class="custom-control-label" for="radio6">Não</label>
            </div>
          </div>
        </div>

        <div class="form-group col-md-5">
          <label for="funcaoCargo3"><strong>Função/Cargo: </strong></label>
          <input class="form-control" type="text" formControlName="funcaoCargo3">
        </div>

        <div class="form-group col-md-4">
          <label for="titulacao3"><strong>Titulação: </strong></label>
          <select class="custom-select" formControlName="titulacao3">
            <option selected value="">Escolha...</option>
            <option value="Graduado">Graduado</option>
            <option value="Especializado">Especializado</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
            <option value="Pós-Doutorado">Pós-Doutorado</option>
          </select>
        </div>

        <div class="col-md-12">
          <hr class="hr-edit2">
        </div>

      </div>

      <div class="col-md-7">
        <label><strong>Público alvo: </strong></label>
        <input class="form-control" type="text" formControlName="publicoAlvo">
      </div>

      <div class="form-group col-md-5">
        <label for="numPessoasEnvolvidas"><strong>Número de pessoas que serão envolvidas: </strong></label>
        <input class="form-control" type="number" formControlName="numPessoasEnvolvidas">
      </div>

      <div class="form-group col-md-8">
        <label for="nomeInstituicaoApoio"><strong>Nome da(s) instituição(s) ou empresa: Parceria, apoiadora ou
            conveniada: </strong></label>
        <input class="form-control" type="text" formControlName="nomeInstituicaoApoio">
      </div>

      <div class="form-group col-md-4">
        <label for="tipoParceria"><strong>Tipo: </strong></label>
        <select class="custom-select" formControlName="tipoParceria">
          <option selected value="">Escolha...</option>
          <option value="Parceria">Parceria</option>
          <option value="Apoio">Apoio</option>
          <option value="Convênio">Convênio</option>
        </select>
      </div>

    </div>

    <hr class="hr-edit">

    <div class="form-row">

      <div class="col-md-12" id="texto-centro">
        <h2>Dados Específicos</h2>
        <hr class="mb-4">
      </div>

      <div class="col-md-12">
        <label>
          <h5><strong>* Objetivos:</strong></h5>
        </label>
        <textarea class="form-control" rows="4" formControlName="objetivos" [ngClass]="{ 'is-invalid': f.objetivos.touched && f.objetivos.errors }"></textarea>
        <div *ngIf="f.objetivos.touched && f.objetivos.errors" class="invalid-feedback">
          <div *ngIf="f.objetivos.errors.required">Campo obrigatório</div>
        </div>
        <p><i>Discriminar os objetivos gerais e específicos em termos de contribuição esperada para o desenvolvimento
            da comunidade, bem como retornos esperados ao aluno, ao ensino e à pesquisa; Assegurar a coerência entre
            as
            instruções e a justificativa do projeto.</i></p>
        <hr>
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-12">
        <label for="justificativa">
          <h5><strong>* Justificativa:</strong></h5>
        </label>
        <textarea class="form-control" rows="4" formControlName="justificativa" [ngClass]="{ 'is-invalid': f.justificativa.touched && f.justificativa.errors }"></textarea>
        <div *ngIf="f.justificativa.touched && f.justificativa.errors" class="invalid-feedback">
          <div *ngIf="f.justificativa.errors.required">Campo obrigatório</div>
        </div>
        <p><i>Explicitar as razões do projeto; Situação/problema que originou a proposição do projeto; Delimitação da
            proposta básica de trabalho e possibilidade de operar mudanças frente à problemática descrita da
            comunidade; outros dados que julgar relevantes (ex, caracterização da comunidade, experiências
            anteriores,
            ou vínculo com a pesquisa, etc.)</i></p>
        <hr>
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-12">
        <label for="metodologiaProcedimento">
          <h5><strong>* Metodologia / Procedimentos:</strong></h5>
        </label>
        <textarea class="form-control" rows="4" formControlName="metodologiaProcedimento" [ngClass]="{ 'is-invalid': f.metodologiaProcedimento.touched && f.metodologiaProcedimento.errors }"></textarea>
        <div *ngIf="f.metodologiaProcedimento.touched && f.metodologiaProcedimento.errors" class="invalid-feedback">
          <div *ngIf="f.metodologiaProcedimento.errors.required">Campo obrigatório</div>
        </div>
        <p><i>Descrever detalhadamente as atividades a serem desenvolvidas.</i></p>
      </div>

    </div>

    <div class="col-md-12 direita">
      <p><i>(*) Campos obrigatórios</i></p>
    </div>

    <hr class="hr-edit mt-0">

    <div class="form-row">
      <div class="col-md-12" id="texto-centro">
        <h2>Recursos Humanos</h2>
        <hr>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4">
        <label for="name"><strong>Docente envolvido: </strong></label>
        <input class="form-control" type="text" formControlName="docenteEnvolvido1">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-4">
        <label for="cursoDocenteEnvolvido1"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDocenteEnvolvido1">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="name"><strong>Função: </strong></label>
        <input class="form-control" type="text" formControlName="funcaoDocenteEnvolvido1">
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-6">
        <label><strong>Adicionar outro Docente? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDocente2s" value="Sim" formControlName="addDocente2"
            [(ngModel)]="valueDocente2">
          <label class="form-check-label" for="addDocente2s">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDocente2n" value="Não" formControlName="addDocente2"
            [(ngModel)]="valueDocente2">
          <label class="form-check-label" for="addDocente2n">Não</label>
        </div>
      </div>
      <div class="col-md-6"></div>

    </div>

    <div class="form-row" [hidden]="valueDocente2 != 'Sim'">

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-4">
        <label for="name"><strong>Docente envolvido (2): </strong></label>
        <input class="form-control" type="text" formControlName="docenteEnvolvido2">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-4">
        <label for="cursoDocenteEnvolvido2"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDocenteEnvolvido2">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="name"><strong>Função: </strong></label>
        <input class="form-control" type="text" formControlName="funcaoDocenteEnvolvido2">
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-6">
        <label><strong>Adicionar outro Docente? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDocente3s" value="Sim" formControlName="addDocente3"
            [(ngModel)]="valueDocente3">
          <label class="form-check-label" for="addDocente3s">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDocente3n" value="Não" formControlName="addDocente3"
            [(ngModel)]="valueDocente3">
          <label class="form-check-label" for="addDocente3n">Não</label>
        </div>
      </div>
      <div class="col-md-6"></div>

    </div>

    <div class="form-row" [hidden]="valueDocente3 != 'Sim'">

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-4">
        <label for="name"><strong>Docente envolvido (3): </strong></label>
        <input class="form-control" type="text" formControlName="docenteEnvolvido3">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-4">
        <label for="cursoDocenteEnvolvido3"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDocenteEnvolvido3">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="name"><strong>Função: </strong></label>
        <input class="form-control" type="text" formControlName="funcaoDocenteEnvolvido3">
      </div>

    </div>

    <div class="form-row">

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-5">
        <label for="name"><strong>Discente envolvido: </strong></label>
        <input class="form-control" type="text" formControlName="discenteEnvolvido1">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-3">
        <label for="name"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDiscenteEnvolvido1">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="name"><strong>Período: </strong></label>
        <select id="inputState" class="custom-select" formControlName="periodoDiscenteEnvolvido1">
          <option selected value="">Escolha...</option>
          <option value=">Primeiro (1º)">Primeiro (1º)</option>
          <option value="Segundo (2º)">Segundo (2º)</option>
          <option value="Terceiro (3º)">Terceiro (3º)</option>
          <option value="Quarto (4º)">Quarto (4º)</option>
          <option value="Quinto (5º)">Quinto (5º)</option>
          <option value="Sexto (6º)">Sexto (6º)</option>
          <option value="Sétimo (7º)">Sétimo (7º)</option>
          <option value="Oitavo (8º)">Oitavo (8º)</option>
        </select>
      </div>

      <div class="col-md-2">
        <label><strong>Nº de matrícula: </strong></label>
        <input class="form-control" type="text" formControlName="matriculaDiscenteEnvolvido1" mask="00000000">
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-6">
        <label><strong>Adicionar outro Discente? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDiscente2s" value="Sim" formControlName="addDiscente2"
            [(ngModel)]="valueDiscente2">
          <label class="form-check-label" for="addDiscente2s">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDiscente2n" value="Não" formControlName="addDiscente2"
            [(ngModel)]="valueDiscente2">
          <label class="form-check-label" for="addDiscente2n">Não</label>
        </div>
      </div>
      <div class="col-md-6"></div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

    </div>

    <div class="form-row" [hidden]="valueDiscente2 != 'Sim'">
      <div class="col-md-5">
        <label for="name"><strong>Discente envolvido (2): </strong></label>
        <input class="form-control" type="text" formControlName="discenteEnvolvido2">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-3">
        <label for="name"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDiscenteEnvolvido2">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="name"><strong>Período: </strong></label>
        <select id="inputState" class="custom-select" formControlName="periodoDiscenteEnvolvido2">
          <option selected value="">Escolha...</option>
          <option value=">Primeiro (1º)">Primeiro (1º)</option>
          <option value="Segundo (2º)">Segundo (2º)</option>
          <option value="Terceiro (3º)">Terceiro (3º)</option>
          <option value="Quarto (4º)">Quarto (4º)</option>
          <option value="Quinto (5º)">Quinto (5º)</option>
          <option value="Sexto (6º)">Sexto (6º)</option>
          <option value="Sétimo (7º)">Sétimo (7º)</option>
          <option value="Oitavo (8º)">Oitavo (8º)</option>
        </select>
      </div>

      <div class="col-md-2">
        <label><strong>Nº de matrícula: </strong></label>
        <input class="form-control" type="text" formControlName="matriculaDiscenteEnvolvido2" mask="00000000">
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

      <div class="col-md-6">
        <label><strong>Adicionar outro Discente? </strong></label>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDiscente3s" value="Sim" formControlName="addDiscente3"
            [(ngModel)]="valueDiscente3">
          <label class="form-check-label" for="addDiscente3s">Sim</label>
        </div>
        <div class="form-check form-check-inline ml-5">
          <input class="form-check-input" type="radio" id="addDiscente3n" value="Não" formControlName="addDiscente3"
            [(ngModel)]="valueDiscente3">
          <label class="form-check-label" for="addDiscente3n">Não</label>
        </div>
      </div>
      <div class="col-md-6"></div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

    </div>

    <div class="form-row" [hidden]="valueDiscente3 != 'Sim'">
      <div class="col-md-5">
        <label for="name"><strong>Discente envolvido (3): </strong></label>
        <input class="form-control" type="text" formControlName="discenteEnvolvido3">
        <p><i>Nome completo sem abreviatura.</i></p>
      </div>

      <div class="col-md-3">
        <label for="name"><strong>Curso: </strong></label>
        <select class="custom-select" formControlName="cursoDiscenteEnvolvido3">
          <option selected value="">Escolha...</option>
          <option value="Administração">Administração</option>
          <option value="Artes Visuais">Artes Visuais</option>
          <option value="Ciências Biológicas - Bacharelado">Ciências Biológicas - Bacharelado</option>
          <option value="Ciências Biológicas - Licenciatura">Ciências Biológicas - Licenciatura</option>
          <option value="Ciências Contábeis">Ciências Contábeis</option>
          <option value="Educação Física">Educação Física</option>
          <option value="Enfermagem">Enfermagem</option>
          <option value="Engenharia Ambiental">Engenharia Ambiental</option>
          <option value="Engenharia de Automação e Controle">Engenharia de Automação e Controle</option>
          <option value="Engenharia de Produção">Engenharia de Produção</option>
          <option value="Engenharia Elétrica">Engenharia Elétrica</option>
          <option value="Engenharia Mecânica">Engenharia Mecânica</option>
          <option value="Farmácia">Farmácia</option>
          <option value="Fisioterapia">Fisioterapia</option>
          <option value="História">História</option>
          <option value="Jornalismo">Jornalismo</option>
          <option value="Letras">Letras</option>
          <option value="Medicina">Medicina</option>
          <option value="Nutrição">Nutrição</option>
          <option value="Pedagogia">Pedagogia</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Publicidade e Propaganda">Publicidade e Propaganda</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Superior de Tecnologia em Gastronomia">Superior de Tecnologia em Gastronomia</option>
          <option value="Superior de Tecnologia em Gestão da Produção Industrial">Superior de Tecnologia em Gestão da
            Produção Industrial</option>
          <option value="Superior de Tecnologia em Gestão da Qualidade">Superior de Tecnologia em Gestão da Qualidade</option>
          <option value="Superior de Tecnologia em Gestão de Recursos Humanos">Superior de Tecnologia em Gestão de
            Recursos Humanos</option>
          <option value="Superior de Tecnologia em Logística">Superior de Tecnologia em Logística</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="name"><strong>Período: </strong></label>
        <select id="inputState" class="custom-select" formControlName="periodoDiscenteEnvolvido3">
          <option selected value="">Escolha...</option>
          <option value=">Primeiro (1º)">Primeiro (1º)</option>
          <option value="Segundo (2º)">Segundo (2º)</option>
          <option value="Terceiro (3º)">Terceiro (3º)</option>
          <option value="Quarto (4º)">Quarto (4º)</option>
          <option value="Quinto (5º)">Quinto (5º)</option>
          <option value="Sexto (6º)">Sexto (6º)</option>
          <option value="Sétimo (7º)">Sétimo (7º)</option>
          <option value="Oitavo (8º)">Oitavo (8º)</option>
        </select>
      </div>

      <div class="col-md-2">
        <label><strong>Nº de matrícula: </strong></label>
        <input class="form-control" type="text" formControlName="matriculaDiscenteEnvolvido3" mask="00000000">
      </div>

      <div class="col-md-12">
        <hr class="hr-edit2">
      </div>

    </div>

    <div class="form-row">
      <div class="col-md-12">
        <label><strong>Cronograma: </strong></label>
        <textarea class="form-control" rows="2" formControlName="cronograma"></textarea>
        <p><i>Atividades a serem realizadas durante o projeto.</i></p>
      </div>
    </div>

    <hr class="hr-edit">

    <div class="form-row">
      <div class="col-md-12" id="texto-centro">
        <h2>Previsão da Receita</h2>
        <hr>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-2">
        <label><strong>Inscrições: </strong></label>
        <input class="form-control" type="number" formControlName="receitaIncricao">
      </div>
      <div class="col-md-8 mb-2"></div>
    </div>

    <div class="form-row justify-content-center">

      <div class="col-md-3 mb-2">
        <label for="inicio"><strong>Início: </strong></label>
        <input type="text" class="form-control" formControlName="receitaInicio" mask="00/00/0000" placeholder="dd/mm/aaaa">
      </div>
      <div class="col-md-1 mb-2"></div>
      <div class="col-md-3 mb-2">
        <label><strong>Número mínimo de inscrições: </strong></label>
        <input class="form-control" type="number" formControlName="receitaNumMinInsc">
      </div>
      <div class="col-md-1 mb-2"></div>
      <div class="col-md-2 mb-2">
        <label><strong>Total: </strong></label>
        <input class="form-control" type="string" formControlName="receitaNumMinInscTotal" placeholder="R$">
      </div>
      <div class="col-md-1 mb-2"></div>
    </div>

    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-2">
        <label for="fim"><strong>Término: </strong></label>
        <input type="text" class="form-control" formControlName="receitaTermino" mask="00/00/0000" placeholder="dd/mm/aaaa">
      </div>
      <div class="col-md-1 mb-2"></div>
      <div class="col-md-3 mb-2">
        <label><strong>Número máximo de inscrições: </strong></label>
        <input class="form-control" type="number" formControlName="receitaNumMaxInsc">
      </div>
      <div class="col-md-1 mb-2"></div>
      <div class="col-md-2 mb-2">
        <label><strong>Total: </strong></label>
        <input class="form-control" type="string" formControlName="receitaNumMaxInscTotal" placeholder="R$">
      </div>
      <div class="col-md-1 mb-2"></div>

    </div>
    <hr>
    <div class="form-row form-inline justify-content-center">
      <div class="form-group">
        <label class="my-1 mr-2"><strong>Valor (Docentes e Discentes Univás): </strong></label>
        <input class="form-control my-1 mr-sm-2" type="string" formControlName="valorDiscenteDoscente" placeholder="R$">
        <label class="my-1 mr-2"><strong>Outros valores: </strong></label>
        <input class="form-control my-1 mr-sm-2" type="string" formControlName="outrosValores" placeholder="R$">
      </div>
    </div>

    <hr class="hr-edit2">

    <div class="form-row">
      <div class="col-md-12" id="texto-centro">
        <h3>Recursos</h3>
        <hr>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label><strong>Especificações:</strong></label>
        <input class="form-control" type="text" formControlName="especificacaoRecursos1" placeholder="1">
      </div>
      <div class="col-md-2 mb-2">
        <label><strong>Quantidade:</strong></label>
        <input class="form-control" type="number" formControlName="quantidadeRecursos1">
      </div>
      <div class="col-md-2 mb-2">
        <label><strong>Valor unitário: </strong></label>
        <input class="form-control" type="string" formControlName="valorUnitarioRecursos1" placeholder="R$">
      </div>
      <div class="col-md-2 mb-2">
        <label><strong>Total: </strong></label>
        <input class="form-control" type="string" formControlName="totalRecursos1" placeholder="R$">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-2">
        <input class="form-control" type="text" formControlName="especificacaoRecursos2" placeholder="2">
      </div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="number" formControlName="quantidadeRecursos2">
      </div>
      <div class="col-md-2 mb-2"><input class="form-control" type="string" formControlName="valorUnitarioRecursos2"
          placeholder="R$"></div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="string" formControlName="totalRecursos2" placeholder="R$">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-2">
        <input class="form-control" type="text" formControlName="especificacaoRecursos3" placeholder="3">
      </div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="number" formControlName="quantidadeRecursos3">
      </div>
      <div class="col-md-2 mb-2"><input class="form-control" type="string" formControlName="valorUnitarioRecursos3"
          placeholder="R$"></div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="string" formControlName="totalRecursos3" placeholder="R$">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-2">
        <input class="form-control" type="text" formControlName="especificacaoRecursos4" placeholder="4">
      </div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="number" formControlName="quantidadeRecursos4">
      </div>
      <div class="col-md-2 mb-2"><input class="form-control" type="string" formControlName="valorUnitarioRecursos4"
          placeholder="R$"></div>
      <div class="col-md-2 mb-2">
        <input class="form-control" type="string" formControlName="totalRecursos4" placeholder="R$">
      </div>
    </div>

    <hr>

    <div class="form-row">
      <div class="col-md-4 mb-2">
        <label><strong>Total de despesas: </strong></label>
        <input class="form-control" type="string" formControlName="totalDespesas" placeholder="R$">
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-12">
        <p><i>Pagamento para ministrante; Deslocamento; Alimentação; Hospedagem; Reprografia; Certificados; Material de
            Apoio; Outros.</i></p>
      </div>
    </div>

    <hr class="hr-edit">

    <div class="form-row form-group mt-2 mb-5 item justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="finish()">Finalizar</button>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <button class="btn btn-warning btn-lg btn-block" type="button" (click)="finishLater()">Continuar mais tarde</button>
      </div>
      <div class="col-md-1 mb-3 direita">
        <a title="Ao escolher a opção 'Finalizar', você estará concordando que seu projeto está pronto para análise de um superior. Caso ainda não tenha certeza se as informações preenchidas estão corretas, você pode clicar em 'Continuar mais tarde' para salvar e editar quando quiser."><span
            [innerHTML]="'info' | feather:30:'#212529'"></span></a>
      </div>
    </div>

  </form>

</div>
