#texto-centro{
    text-align: center;
    position: relative;
    font-family: Ubuntu;
}

.centro{
    align-items: center!important;
    text-align: center!important;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
  font-family: ubuntu;
  
}