#texto-centro{
    text-align: center;
    position: relative;
    font-family: Ubuntu;
}

.centro{
    align-items: center!important;
    text-align: center!important;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
  font-family: ubuntu;
  
}