<div class="col-12">
  <label>Nome:</label>
  <input type="text" class="form-control" name="perfilNome" [(ngModel)]="perfil.nome">
</div>
<div class="col-12">
  <label>Sobrenome:</label>
  <input type="text" class="form-control" name="perfilSobrenome" [(ngModel)]="perfil.sobrenome">
</div>
<div class="col-12">
  <label>Data de Nascimento:</label>
  <input type="date" class="form-control" name="perfilDataNascimento" [(ngModel)]="perfil.dataNascimento">
</div>
<div class="col-12">
  <label>Telefone para contato:</label>
  <input type="phone" class="form-control" name="perfilTelefone" [(ngModel)]="perfil.telefone">
</div>
<div class="col-12">
  <label>Identificação Universitária:</label>
  <input type="text" class="form-control" name="perfilIdentificacao" [(ngModel)]="perfil.identificacao">
</div>
<div class="col-12">
  <label>Formação:</label>
  <input type="text" class="form-control" name="perfilFormacao" [(ngModel)]="perfil.formacao">
</div>
<div class="col-12">
  <label>Outra Titulação:</label>
  <input type="text" class="form-control" name="perfilTitulacao" [(ngModel)]="perfil.titulacao">
</div>
<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#exampleModalCenter">Salvar</button><br>